<ul>
    <li *ngFor="let link of nav">
      <a [routerLink]="link.url">{{link.title}}</a>
    </li>
    <li *ngIf="currentUser">
      <p>{{currentUser.user.username}}</p>
    </li>
    
    <li *ngIf="currentUser">
      <a (click)="logout()">Logout</a>
    </li>
  </ul><br>
  <ul *ngIf="currentUser">
    <li><a routerLink="/character">Character</a></li>
    <li><a routerLink="/chantier">Race</a></li>
    <li><a routerLink="/chantier">Profil</a></li>
    <li><a routerLink="/chantier">Objet</a></li>
  </ul>
