<h2>Détail du character</h2>
<h3>{{character.player_name}}</h3>
<h3>{{character.firstname}}</h3>
<h3>{{character.lastname}}</h3>
<h3>{{character.gender}}</h3>
<h3>{{character.age}}</h3>
<h3>{{character.height}}</h3>
<h3>{{character.weight}}</h3>
<h3>{{character.level}}</h3>
<h3>{{character.force}}</h3>
<h3>{{character.intelligence}}</h3>
<h3>{{character.dexterity}}</h3>
<h3>{{character.constitution}}</h3>
<h3>{{character.sagesse}}</h3>
<h3>{{character.charisma}}</h3>
<h3>{{character.maximun_life}}</h3>
<h3>{{character.current_life}}</h3>
<h3>{{character.initiative}}</h3>
<h3>{{character.skill_point}}</h3>
<h3>{{character.defence}}</h3>
<h3>{{character.pp}}</h3>
<h3>{{character.po}}</h3>
<h3>{{character.pa}}</h3>
<h3>{{character.pc}}</h3>
<h3>{{character.point_chance}}</h3>
<h3>{{character.point_repos}}</h3>
<h3>{{character.raceId}}</h3>
<h3>{{character.userId}}</h3>
<h3>{{character.profilId}}</h3>

<button onclick="deleteOnClick()" >supprimer</button>

<button routerLink="/character">retour</button>
<!-- 
 

point_chance: number;

point_repos: number;

//    Race race,


user : UserDTO -->